*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #F7BB2F;
}

.contenedor{
    /*background: #fb55cd;*/
    margin-top: 30px;
    width: 40%;
    color: #F1F7F5;
    height: 360px;
    display: flex;
}
.left{
    background: #002F42;
    width: 65%;
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
}
form{
    padding: 15px;
}

.right{
    background: #D8D3F0;
    width: 35%;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 15px 18px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    margin: 10px 0px;
    cursor: pointer;
}
.calcular{
    background: #F22B29;

}
.nuevo{
    background: #01DA6D;
    position: relative;
    top: -129px;
    left: 378px;

}
.espacio{
    margin: 10px 55px 0px;
}
.cuadros{
    border: none;
    border-radius: 15px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    color: #F1F7F5;
    opacity: 50%;
    background: #193D4D;
}
h1{
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    background: #fff;
    width: 25%;
    text-align: center;
}
hr{
    margin: 10px;
    background: #ccc;
    height: 1.5px;
    border: none;
    opacity: 30%;
}
label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    margin-right: 1.2em;
}
